label, input {
    display:block;
    min-height: 20px;
}

fieldset {
    border: none;
    padding: 3rem auto;
    border-bottom: 3px solid #000;
}

fieldset:last-of-type {
    border-bottom: none;
}

.inline {
    width: unset;
    display: inline;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
}

body {
    margin: 1rem auto;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #E8dcca
}

h1, p {
    text-align: center;
    vertical-align: middle;
}

form {
    width:60vw;
    margin: 0 auto;
    padding-bottom: 0;
}

input[type="text"], input[type="email"], input[type="number"] {
    min-width: 40vh;
    
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
