main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}
#image {
    max-width: 50%;
    display: block;
    height: 60vh;
    width: auto;
    margin: 0 auto;
    aspect-ratio: 3 / 2;
}

#img-div {
    text-align: center;
    background-color: beige;
    width: 100%;
    padding-top: 12px;
    margin-bottom: 0;
}

#img-caption {
    font-size: 20px;
}

h1 {
    margin-bottom: 0;
}
#title {
    text-align: center;
}

#subheading {
    font-size: 26px;
}

#tribute-info {
    max-width: 90vh; 
    margin: 0 auto; 
    padding: 20px;
    text-align: center;
}   

#tribute-title {
    text-align: center; 
}

#tribute-info > ul > li {
    padding-bottom: 10px;
    font-size: 18px;
    text-align:left;
}

cite {
    display: block;
    text-align: center;
}

#tribute-link {
    text-align: center;
    font-size:large;
}